body{
    color: black;
}

nav.navbar{
    background-color: rgb(185,49,37);
    border-radius: 0;
    margin: 0;
}

nav li a{
    color: white;
    text-transform: uppercase;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: small;
}

nav.navbar li a:hover, nav.navbar li a:focus{
    background-color: rgba(255,255,255,0.2);
    color: white;
}

header .titre{
    color: white;
    font-family: 'Yeseva One', cursive;
    font-size: 600%;
    text-align: center;
    margin-top: 10%;
}

header .sous-titre{
    color: white;
    font-size: 300%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10%;
}

section{
    padding-top: 20px;
    padding-bottom: 40px;
}

footer .bande-rouge{
    background-color: rgb(185,49,37);
    height: 10px;
}

footer .container{
    padding-top: 20px;
    padding-bottom: 20px;
}

footer hr{
    background-color: lightgrey;
    color: lightgrey;
    border-color: lightgrey;
}

footer #copyright{
    padding-top: 20px;
    padding-bottom: 20px;
}

hr{
    margin-top: 10px;
    height: 1px;
}

.titre-section{
    color: rgb(185,49,37);
    font-family: 'Yeseva One', cursive;
}

.rouge{
    color: rgb(185,49,37);
}

.separateur{
    color: rgb(185,49,37);
    border-color: rgb(185,49,37);
    background-color: rgb(185,49,37);
}