body{
    color: black;
}

nav.navbar{
    border-radius: 0;
    margin: 0;
}

nav li a{
    color: rgb(77,77,77);
    text-transform: uppercase;
    font-family: Arial, sans-serif;
    font-size: medium;
}

nav.navbar li a:hover, nav.navbar li a:focus{
}