html {
    width: 100%;
    height: 100%;
}
body{
    color: black;
    font-family: "Source Sans Pro", sans-serif;
    width: 100%;
    height: 100%;
}

/* Menu et sous-menu */

nav.navbar-default{
    background-color: white;
}
nav.navbar-default li{
    padding: 0;
}
nav li.lien_logement{
    border-bottom: 2px solid #ff3366;
}
nav li.lien_campus{
    border-bottom: 2px solid #ff9966;
}
nav li.lien_ve{
    border-bottom: 2px solid #3cd09e;
}
nav li.lien_etudes{
    border-bottom: 2px solid #3dcae3;
}
nav li a{
    color: rgb(0,0,0);
    text-transform: uppercase;
    font-size: large;
    font-weight: 300;
    text-align: center;
}
nav li.lien_accueil a{
    font-weight: 600;
}
nav li a:hover, nav.navbar li a:focus{
    transition: background 0.5s;
    -webkit-animation: background ease 0.5s;
}
nav li.lien_logement a:hover, nav.navbar li.lien_logement a:focus, nav li.lien_logement a.active{
    background: #ff3366;
    color: white;
}
nav li.lien_campus a:hover, nav li.lien_campus a:focus, nav li.lien_campus a.active{
    background: #ff9966;
    color: white;
}
nav li.lien_ve a:hover, nav li.lien_ve a:focus, nav li.lien_ve a.active{
    background: #3cd09e;
    color: white;
}
nav li.lien_etudes a:hover, nav li.lien_etudes a:focus, nav li.lien_etudes a.active{
    background: #3dcae3;
    color: white;
}
nav li.lien_accueil a:hover, nav li.lien_accueil a:focus{
    background: white;
    color: black;
}
nav [id*="sous_menu"] a:hover, nav #sous_menu a:focus{
    background-color: white;
}
nav [id*="sous_menu"] li a{
    font-weight: 600;
}
nav #sous_menu_logement li a:hover, nav #sous_menu_logement li a:focus, nav #sous_menu_logement li a.active{
    color: #ff3366;
}
nav #sous_menu_campus li a:hover, nav #sous_menu_campus li a:focus, nav #sous_menu_campus li a.active{
    color: #ff9966;
}
nav #sous_menu_vie_asso li a:hover, nav #sous_menu_vie_asso li a:focus, nav #sous_menu_vie_asso li a.active{
    color: #3cd09e;
}
nav #sous_menu_etudes li a:hover, nav #sous_menu_etudes li a:focus, nav #sous_menu_etudes li a.active{
    color: #3dcae3;
}

/* Corps de page général */

section{
    width: 100%;
    padding-top: 30px;
    padding-bottom: 20px;
}
section .titre_section{
    margin-top: 120px;
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    text-transform: uppercase;
}
section#section_services h5{
     margin-bottom: 0;
}
section#section_associations .row div{
    margin-bottom: 20px;
}
section#section_associations .cadre_logo{
    background-color: white;
    display: table-cell;
    vertical-align: middle;
    box-shadow: 0 0 10px #aaaaaa;
}
section#section_associations .cadre_logo img{
    width:100%;
    max-width: 100%;
    margin: auto;
    padding: 15px;
}

/* Design général */

.bg_beige{
    background-color: #f7f5f5;
}
#logement .text-couleur{
    color: #ff3366;
}
#campus .text-couleur{
    color: #ff9966;
}
#associations .text-couleur{
    color: #3cd09e;
}
#etudes .text-couleur{
    color: #3dcae3;
}
#logement .bords_ronds{
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    border: solid #ff3366 2px;
    border-radius: 10px;
}
#logement .logo_services{
    height:50px;
    max-width: 100px;
}
.chiffres_cles{
    text-align: center;
}
.chiffres_cles span{
    line-height:100%;
}
.text-light{
    font-weight: 300;
}
.text-bold{
    font-weight: 600;
}